@model List<Art>

<div id="all-artworks">
    @foreach (var artwork in Model)
    {
        <div id="artwork">
            <h4>@artwork.Title</h4>
            <p>@artwork.Year.ToString()</p>
            <p>@artwork.Collection</p>
            <p>@artwork.Medium</p>
            <p>@artwork.Height.ToString() x @artwork.Width cm</p>
            <p>@artwork.Price.ToString("c")</p>
        </div>
    }
</div>